.review-container {
  padding: 20px 40px;
  width: 95%;
  border-radius: 12px;
  background-color: var(--secondary);
  margin: 0 auto;
  margin-bottom: 50px;
}
.review-container > h3 {
  margin-left: 60px;
  font-size: 30px;
}

.review-btn {
  float: right;
  clear: both;
  padding: 10px 30px;
  border-radius: 15px;
  border: 0;
  outline: 0;
  background-color: var(--secondary-font-color);
  font-size: 18px;
  font-weight: 700;
  position: relative;
  bottom: 35px;
  margin-right: 220px;
}
.review-card {
  width: 80%;
  background-color: var(--primary);
  border-radius: 20px;
  padding: 15px 30px;
  margin: 0 auto;
  margin-top: 40px;
  margin-left: 50px;
}
.review-card > p {
  font-weight: 100;
  padding: 10px 0;
}
.reviewer-info {
  display: flex;
  align-items: center;
  width: 30%;
}

.reviewer-info > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  margin-left: 10px;
}

#review-form {
  padding: 15px 30px;
  background-color: var(--mint-cream);
  width: 75%;
  border-radius: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: var(--primary);
}
#review-form > input,
.text-area {
  padding: 10px 30px;
  width: 60%;
  border: 0;
  border-radius: 10px;
  outline: 0;
  border: 1px solid var(--primary);
}

.action-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  float: none;
  left: 0;
  top: 0;
  margin-top: 20px;
}
.action-btns > button {
  padding: 10px 30px;
  border-radius: 10px;
  color: var(--primary);
  border: 0;
  background-color: var(--secondary-font-color);
  font-size: 15px;
  font-weight: 600;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
