/* .restaurant-page {

} */

.restaurant-info > img {
  border: 1px solid green;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

.restaurant-info > h2 {
  position: relative;
  top: 100%;
}
