.food-container {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(1fr 2);
  margin-top: 100px;
  height: 500px;
  align-items: center;
  padding: 10px 30px;
}

.food-img {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  left: -5%;
  /* display: inline-block;
  vertical-align: middle; */
  bottom: 40%;
  margin: 0 auto;
}
.food-card {
  position: relative;
  width: 250px;
  height: 280px;
  background-color: var(--secondary);
  padding: 20px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}

.food-card > h3 {
  font-weight: 500;

}
