footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  margin: 0 auto;
  border-top: 1px solid var(--mint-cream);
}

#copy-right {
  display: block;
  color: var(--mint-cream);
  font-size: 25px;
  font-weight: 700;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}
.social-icon {
  display: block;
  color: var(--secondary-font-color);
  font-size: 30px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  footer {
    /* display: none; */
    max-width: 100%;
    padding: 0;
  }
  .social-icons {
    width: 15%;
  }

  #copy-right {
    font-size: 18px;
  }
}
