@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700;900&display=swap");

:root {
  --primary: #0b3142;
  --primary-font-color: #d0def1;
  --secondary-font-color: #e1f52c;
  --secondary: #12263a;
  --mint-cream: #f5fffa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.App {
  width: 100%;
  margin: 0 auto;
}
body {
  background-color: var(--primary);
  color: var(--primary-font-color);
}
#bookList-heading {
  text-align: center;
  font-size: 25px;
  position: relative;
}

#bookList-heading::after {
  content: "";
  border-bottom: 2px solid #e1f52c;
  position: absolute;
  left: 45%;
  width: 10%;
  top: 100%;
}
